<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--配置数据库的驱动程序，Hibernate在连接数据库时，需要用到数据库的驱动程序-->  
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--用户名-->   
        <property name="hibernate.connection.username">root</property>
        <!--密码-->
        <property name="hibernate.connection.password">123456</property>

        <!-- 连接mycat逻辑数据库 -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:8066/TESTDB</property>
        <property name="connection.autocommit">true</property>

        <!-- SQL方言，这边设定的是MySQL --> 
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

        <!-- 显示SQL语句 -->
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.default_schema">test</property>
      
         <!-- ddl语句自动建表 -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- 
        <prop key="hibernate.default_schema">${hibernate.default_schema}</prop>
        -->
       <!--映射文件 --> 
        <mapping resource="siso/wu/app/domain/News.hbm.xml" />

    </session-factory>
</hibernate-configuration>
